.conteiner{
}

.div{
    width: 400px;
    height: fit-content;
    background-color: rgb(255, 255, 255) ;
    
}

.body{ 
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTxOkjlkuWtLRENR7cwhTSF9GBQloK29KUIPg&s");
    background-size: aussto;
   
}